.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: rgb(248, 248, 248);
}

header {
  width: 100%;
  height: 698px;
  background-image: url("./Assets/Hero-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
nav {
  display: flex;
  justify-content: space-between;
  padding: 50px 150px 0 150px;
}

.logo {
  font-size: 34px;
  color: #4e47ff;
  font-weight: bold;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  font-family: "raleWay";
  height: 48px;
  width: 132px;
  background-color: #4e47ff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: #0b0942;
}
.header-content-perent {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 230px;
}
.header-content {
  width: 905px;
  height: 237px;
  align-items: center;
}
.header-title {
  font-weight: bold;
  font-size: 65px;
  font-family: "raleWay";
}

/*==================header end*/

.setItAction {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}
.action-content {
  width: 1140px;
  height: 328px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.action-text-content {
  width: 517px;
  height: 203px;
}
.action-img {
  border-radius: 48px;
  height: 328px;
  width: 403px;
}

.action-title {
  font-weight: bold;
  font-size: 42px;
  font-family: "raleWay";
}
.action-desc {
  font-size: 24px;
  font-family: "raleWay";
  color: #252432;
  margin-top: 24px;
}

.action-btn {
  width: 229px;
  height: 48px;
  border: none;
  background-color: #4e47ff;
  border-radius: 10px;
  color: white;
  font-weight: bold;
  font-size: 16px;
  font-family: "raleWay";
  margin-top: 23px;
  transition: 0.3s;
  cursor: pointer;
}
.action-btn:hover {
  background-color: #0b0942;
}
/*================see it action end*/

.productive-user {
  display: flex;
  justify-content: center;
  margin-top: 116px;
}

.productive-parent {
  height: 306px;
  width: 1140px;
  background-color: #4d47ff27;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.productive-content {
  height: 206px;
  width: 856px;
  text-align: center;
}
.productive-title {
  font-size: 38px;
  font-weight: bold;
  font-family: "raleWay";
  color: #252432;
}

.productive-counting-parent {
  margin-top: 40px;
}

.productive-countingTitle {
  font-weight: bold;
  font-size: 80px;
  color: #4e47ff;
}
.productive-desc {
  font-size: 20px;
  color: #00000077;
}
.counting-perent {
  display: flex;
  height: 121px;
  width: 856px;
  justify-content: space-between;
}

/*Productive users end*/
